.message-chat {
  /* background-color: rgba(24, 128, 128, 0.377); */
  height: 100%;
}
.sendmessage {
  background-color: #f1efed;
  padding: 0.6rem 1rem;
}
.sendmessage input {
  border-radius: 10px !important;
  border: 1px solid rgb(173, 173, 173);
}
/* .sendmessage input:focus,
.sendmessage input:active {
  border: 1px solid red !important; 
   box-shadow: 0 0 0; 
} 
*/
.messages {
  background-color: #e4dcd8;
  max-height: calc(100vh - 6.2rem + 1px);
  height: 100% !important;
  overflow-y: scroll !important;
}
.chat-profile {
  padding: 0.4rem 1rem;
  background-color: #eeeeee;
}
.messageStyle {
  position: relative;
  background-color: white;
  max-width: 50%;
  width: 100%;
  border-radius: 10px;
  padding: 0.2rem 0.4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* .messageStyle::after {
  content: " ";
  position: absolute;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  top: 0;
  left: -5px;
  background-color: white;
} */

.emojiBoard {
  position: absolute !important;
  bottom: 120%;
  left: -1rem;
}
/* CHAT SETTING */
.chatSetting {
  z-index: 900;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 0 10px grey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 17rem;
  top: 0;
  right: 0rem;
  transition: 0.4s;
  /* display: none; */
}
.chatAppear {
  /* display: block; */
  right: 0;
}
.addUserSearchBar {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(224, 224, 224);
  box-shadow: 0 5px 5px grey;
}
